.navbar {
    border: 0px;
    border-radius: 0px;
}
.navbar-default {
    background-color: #3A5795;
    color: #fff;
}

.navbar-default a.navbar-brand {
    color: #fff;
}

.navbar-default a.navbar-link {
    color: #fff;
}

.btn.btn-primary {
    background-color: #3A5795;
}
